/* ==UserStyle==
@name           IT Glue Tweaks
@namespace      tpilius-ais
@author         tpilius-ais
@version        0.7.0
@description    Overhauls the interface design of IT Glue to improve visual clarity and usability.
==/UserStyle== */

/* TODO write matching readme documentation */

/* #region General - Applies to all pages */
@-moz-document domain("ainfosys.itglue.com")
{

    /* Shrinks the right hand sidebar since its a bit too wide by default */
    body.react-app-doc-editor .sidebar
    {
        max-width: 350px !important;
    }

    /* Makes the right hand section be a light shade of grey to make it easier to differentiate */
    body.react-app-doc-editor .sidebar .publish-section,
    #react-main .sidebar .sidebar-section,
    .sidebar
    {
        background-color: light-dark(#d9d9d9, #262c3b) !important;
    }

    /* Fixes floating horizontal scroll bar at the bottom of the screen */
    .table-secondary-scroll-wrapper
    {
        bottom: 0px !important;
    }

    /* Hides guides icon to the left of search, as well as Kaseya button */
    .walkme-to-remove.walkme-launcher-container,
    .kaseya-ui-k1-button
    {
        display: none !important;
    }

    /* Makes the button appear to be pushed inwards when clicking it */
    .kaseya-ui-button:active,
    .btn:active
    {
        transform: scale(0.95);
    }

    /* Coloring delete button */
    .kaseya-ui-button.delete,
    .btn[data-delete-item-modal=true]
    {
        background-color: #D9534F !important;
        border-color: #C64541 !important;
        color: #fff !important;
    }

    .kaseya-ui-button.delete .kaseya-ui-icon
    {
        color: white !important;
    }

    /* Hover state */
    .kaseya-ui-button.delete:hover,
    .btn[data-delete-item-modal=true]:hover
    {
        background-color: #C64541 !important;
        border-color: #B83A37 !important;
    }

    /* Adds styling to the custom "Copy Link for Teams" button */
    .teams-button
    {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        margin-left: 10px;
        padding: 6px 12px;
        background-color: #6264A7;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 13px;
        font-weight: 500;

        &:hover
        {
            background-color: #464775;
        }

        /* Makes the button appear to be pushed inwards when clicking it */
        &:active
        {
            transform: scale(0.95);
        }

        /* Resizes icon */
        & img
        {
            width: 16px;
            height: 16px;
        }
    }

    /* Hides password strength box */
    .row-with-copy:has(.smart-audit__password-strength-info),
    /* Hides password strength box on client's Home page  */
    .smart-assist-widget-node__password-strength,
    /* Hides AI button that shows up below "Related Items" */
    .copilot__sidebar
    {
        display: none !important;
    }
}

/* #endregion */

/* #region Document page */
@-moz-document regexp("^.*(itglue).*(docs).*")
{

    /* Makes it so that the last part of the breadcrumb is never shortened with an ellipses */
    .main.breadcrumb li:last-child
    {
        overflow: visible !important;
    }

    /* Hides the "Add Flag" bar at the top of a document since we don't use the flags. */
    .add-edit-flag
    {
        display: none !important;
    }

    .document-content-wrapper
    {
        margin-top: 20px;
    }

    .section-container.editor-container
    {
        margin-bottom: 0px !important;
    }

    /* Makes the various headers larger because they're too small in the first place */
    h1
    {
        font-size: 30px !important;
    }

    h2
    {
        font-size: 26px !important;
    }

    h3,
    h4
    {
        font-size: 18px !important;
    }

}

/* #endregion */

/* Document/password list view only.  Does not apply to viewing the documents/passwords themselves. */
@-moz-document regexp("^.*(itglue).*(documents).*"),
regexp("^.*(itglue).*(passwords).*")
{

    /* Makes the "X documents" label be on the same line as the folder rather than underneath it */
    .doc-name-group.qa-doc-name-group,
    .draggable-name-group.qa-draggable-name-group
    {
        flex-direction: row !important;
    }

    /* Centers the text vertically */
    .doc-name-group .subtext
    {
        line-height: 24px !important;
    }

    /* Hides the edit + copy icons that show up when you hover near an item */
    .doc-icon-group
    {
        display: none !important;
    }

    /* Colors whole row red when the document has expired */
    tr:has(td span.color-red)
    {
        background-color: #FCE8E6;
    }

    /* Colorizing archived items */
    tr:has(i.fa-archive)
    {
        background-color: lightblue !important;
    }
}

/* #region Apps & Services - These apply to things like User Onboarding/Offboarding, Printers, Applications, File Sharing */
@-moz-document regexp("^.*(itglue).*(assets).*")
{

    /* TODO mess with converting to a two column layout */
    dl
    {
        max-width: 500px;
        background: light-dark(#fafafa, #1c2026f2);
        border: 1px solid light-dark(#ddd, #3a414b);
        border-radius: 12px;
        padding: 20px 24px;
        font-family: "Segoe UI", Roboto, sans-serif;
        box-shadow: 0 2px 6px #0000000d;
    }

    h3.render-header
    {
        font-size: 28px;
        font-weight: 500;
        color: light-dark(#0a4a8b, #61afef) !important;
        border-bottom: 2px solid light-dark(#e5e5e5, #3a414b) !important;
        padding-bottom: 6px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    dt.render-label
    {
        font-weight: 600;
        color: light-dark(#555, #9aa7b5) !important;
        margin-bottom: 5px !important;
    }

    dd p
    {
        margin: 0;
    }

    .render-generic,
    .render-text,
    .password
    {
        background: light-dark(#fff, #252a31);
        color: light-dark(#222222, #9aa7b5) !important;

        border: 1px solid light-dark(#e0e0e0, #3a414b);
        border-radius: 6px;
        padding: 6px 10px;
    }

    /* TODO is this something I should keep? */
    .render-generic:hover,
    .render-text:hover,
    .password:hover
    {
        border-color: #61afef;
        transition: border-color 0.15s ease;
    }

    /* Hides "Show who has access to this XXXX" at the bottom */
    .resource-access
    {
        display: none !important;
    }

    /* These apply to wifi entries.  Example: https://ainfosys.itglue.com/5185248/assets/219274-wireless/records/24033826 */
    /* Increases the height of the show password button and copy password button */
    /* TODO looks wrong on dark mode */
    .show-password
    {
        height: 30px !important;
    }

    button.password-copy
    {
        height: 30px !important;
        width: 30px !important;
    }
}

/* #endregion */